.container-logo {
  position: relative;
  background: hsl(0 0% 100% / 0.1);
  border-radius: 0 5px 5px 0;
  width: 15vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  box-shadow: 0 0px 8px 1px #0000007a;
}
